<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="diffbot_gazebo" params="prefix">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ugv_ctrl)/config/diffbot_controllers.yaml</parameters>
      </plugin>
      <plugin
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
      </plugin>
      <plugin
        filename="gz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
        <odom_frame>odom</odom_frame>
        <robot_base_frame>base_link</robot_base_frame>
      </plugin>
    </gazebo>

    <gazebo reference="${prefix}caster_frontal_wheel_joint">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
    </gazebo>

    <gazebo reference="${prefix}caster_rear_wheel_joint">
      <mu1>0.0</mu1>
      <mu2>0.0</mu2>
    </gazebo>

    <gazebo reference="${prefix}left_wheel_joint">
      <mu1>1e9</mu1>
      <mu2>1e9</mu2>
    </gazebo>

    <gazebo reference="${prefix}right_wheel">
      <mu1>1e9</mu1>
      <mu2>1e9</mu2>
    </gazebo>

  </xacro:macro>

</robot>
